<?xml version="1.0" encoding="utf-8"?>
<manifest
    android:compileSdkVersion="23"
    android:compileSdkVersionCodename="6.0-2438415"
    package="com.romcontrolicons.nexuslauncher"
    platformBuildVersionCode="23"
    platformBuildVersionName="6.0-2438415"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <overlay
        android:priority="0"
        android:targetPackage="com.google.android.apps.nexuslauncher"
        android:category="com.google.android.apps.nexuslauncher.themed_icons"
        android:isStatic="true" />
    <application
        android:label="Custom_Themed_Icons"
        android:hasCode="false"
        android:extractNativeLibs="true" />
</manifest>