<?xml version="1.0" encoding="utf-8"?>
<manifest
    android:compileSdkVersion="32"
    android:compileSdkVersionCodename="12"
    package="com.google.android.apps.nexuslauncher.overlay"
    platformBuildVersionCode="32"
    platformBuildVersionName="12"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <overlay
        android:priority="0"
        android:targetPackage="com.google.android.apps.nexuslauncher"
        android:targetName="PixelLauncherOverlay"
        android:isStatic="true" />
    <application
        android:label="PixelLauncherOverlay"
        android:hasCode="false"
        android:extractNativeLibs="true" />
</manifest>